In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Rana = pd.DataFrame({
    
    "Name": ["Rana Nafees Khawar", "Rana Shumail Tariq", "Rana Azlan Nafees"],
    
    "Age": [23, 19, 1],
    
    "Sex": ["male", "adult", "child"]
    
})

Rana

                 Name  Age    Sex
0  Rana Nafees Khawar   23   male
1  Rana Shumail Tariq   19  adult
2   Rana Azlan Nafees    1  child

In [3]:
Rana["Age"]

0    23
1    19
2     1
Name: Age, dtype: int64

In [4]:
Rana["Age"].max()

23

In [5]:
Rana["Age"].min()

1

In [6]:
Rana["Age"].median()

19.0

In [7]:
Rana.describe()

             Age
count   3.000000
mean   14.333333
std    11.718931
min     1.000000
25%    10.000000
50%    19.000000
75%    21.000000
max    23.000000

In [8]:
spotify = pd.read_csv("spotify-2023.csv", encoding='latin-1')

In [9]:
spotify.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [10]:
spotify.dtypes

track_name              object
artist(s)_name          object
artist_count             int64
released_year            int64
released_month           int64
released_day             int64
in_spotify_playlists     int64
in_spotify_charts        int64
streams                 object
in_apple_playlists       int64
in_apple_charts          int64
in_deezer_playlists     object
in_deezer_charts         int64
in_shazam_charts        object
bpm                      int64
key                     object
mode                    object
danceability_%           int64
valence_%                int64
energy_%                 int64
acousticness_%           int64
instrumentalness_%       int64
liveness_%               int64
speechiness_%            int64
dtype: object

In [11]:
spotify.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [12]:
energy = spotify["energy_%"]
energy.head()

0    83
1    74
2    53
3    72
4    80
Name: energy_%, dtype: int64

In [13]:
type(spotify["energy_%"])

pandas.core.series.Series

In [14]:
spotify["energy_%"].shape

(953,)

In [15]:
energy_artistname = spotify[["energy_%", "artist(s)_name"]]
energy_artistname.head()

   energy_%    artist(s)_name
0        83  Latto, Jung Kook
1        74       Myke Towers
2        53    Olivia Rodrigo
3        72      Taylor Swift
4        80         Bad Bunny

In [16]:
 spotify[["energy_%", "artist(s)_name"]].shape

(953, 2)

In [17]:
energylevel = spotify[spotify["energy_%"] >= 95]
energylevel.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
42,I'm Good (Blue),"Bebe Rexha, David Guetta",2,2022,8,26,12482,80,1109433169,291,...,128,G,Minor,56,38,97,4,0,35,4
60,Tï¿½ï¿,"dennis, MC Kevin o Chris",2,2023,5,4,731,15,111947664,27,...,130,B,Major,86,59,96,50,1,9,5
319,Murder In My Mind,Kordhell,1,2022,1,21,2459,20,448843705,20,...,120,A#,Major,71,57,97,1,0,13,11
367,Bombonzinho - Ao Vivo,"Israel & Rodolffo, Ana Castela",2,2022,11,3,1254,6,263453310,26,...,158,C#,Major,65,72,95,31,0,92,5
795,That That (prod. & feat. SUGA of BTS),"PSY, Suga",2,2022,4,29,802,0,212109195,16,...,130,E,Major,91,91,96,3,0,3,9

In [18]:
spotifyplaylist = spotify[(spotify["in_spotify_playlists"] > 45000) | (spotify["in_spotify_playlists"] > 50000)]
spotifyplaylist.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
624,Smells Like Teen Spirit - Remastered 2021,Nirvana,1,1991,9,10,49991,9,1690192927,265,...,117,C#,Major,52,73,91,0,0,11,7
630,Mr. Brightside,The Killers,1,2003,9,23,51979,15,1806617704,306,...,148,C#,Major,35,24,93,0,0,10,8
720,Wake Me Up - Radio Edit,Avicii,1,2013,1,1,50887,34,1970673297,315,...,124,D,Major,53,66,78,0,0,16,5
757,Get Lucky - Radio Edit,"Pharrell Williams, Nile Rodgers, Daft Punk",3,2013,1,1,52898,0,933815613,203,...,116,F#,Minor,79,87,81,4,0,10,4

In [19]:
spotify[['in_spotify_playlists','track_name']].max()

in_spotify_playlists                    52898
track_name              ýýýýýýýýýýýýýýýýýýýýý
dtype: object

In [20]:
speech_no_na = spotify[spotify["speechiness_%"].notna()]
speech_no_na.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6